.heading2 {
  font-size: 1.75rem !important; // $font-size-80
  line-height: 2.5rem !important; // $line-height-80

  @media screen and (min-width: $small-screen-min-width) {
    font-size: 2rem !important; // $font-size-90
    line-height: 2.75rem !important; // $line-height-90
  }

  @media screen and (min-width: $desktop-min-width) {
    font-size: 2.5rem !important; // $font-size-100
    line-height: 3.25rem !important; // $line-height-100
  }
}
