.deployReactImage {
  border: solid 2px rgb(225, 227, 234);
  background-color: white;
  padding: 1px;
  border-radius: 4px;
  box-shadow: $box-shadow;
}

.container {
  flex-direction: column;

  .containerLeftHalf {
    align-items: center;
  }

  h1,
  h2 {
    text-align: center;
  }
}

.architectureCardGrid {
  grid-template-columns: 100%;
}

@media screen and (min-width: $extra-small-screen-min-width) {
  .architectureCardGrid {
    grid-template-columns: 300px;
  }
}

@media screen and (min-width: $tablet-min-width) {
  .architectureCardGrid {
    grid-template-columns: 225px 225px;
  }
}

@media screen and (min-width: $small-screen-min-width) {
  .architectureCardGrid {
    grid-template-columns: 300px 300px;
  }
}

@media screen and (min-width: $desktop-min-width) {
  .container {
    flex-direction: row;

    .containerLeftHalf {
      align-items: flex-start;
    }

    h1,
    h2 {
      text-align: left;
    }
  }

  .architectureCardGrid {
    grid-template-columns: 275px 275px;
  }
}

@media screen and (min-width: $large-screen-min-width) {
  .architectureCardGrid {
    grid-template-columns: 300px 300px;
  }
}
