.container {
  display: grid;
  grid-template-columns: 192px auto 192px;
  column-gap: 20px;

  li {
    list-style: none;
    color: rgb(77, 91, 124);
    font-size: 16px;
    transition: color 0.2s ease 0s;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 8px;
  }

  li:hover {
    color: rgb(0, 12, 43);
  }
}
