$top-nav-height: 60px;

.top_nav_container {
  border-bottom: 1px solid rgb(236, 239, 241);
}

.top_nav_layout {
  max-width: $max-width !important;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
  height: $top-nav-height;
}

.menu_link {
  height: $top-nav-height;
  display: none;
}

.menu_link:hover {
  border-bottom: 3px solid $primary-color;
  border-top: 3px solid rgb(255, 255, 255);
}

.menu_nav_button {
  display: flex;
}

.menu_signup_button {
  display: none;
}

.mobile_menu_link:hover {
  color: $primary-color;
  text-decoration: underline;
}

@media screen and (min-width: $tablet-min-width) {
  .top_nav_layout {
    padding: 0 4.75rem;
  }

  .menu_link {
    display: none;
  }

  .menu_nav_button {
    display: flex;
  }

  .menu_signup_button {
    display: flex;
  }
}

@media screen and (min-width: $desktop-min-width) {
  .top_nav_layout {
    padding: 0 4.75rem;
  }

  .menu_link {
    display: flex;
  }

  .menu_nav_button {
    display: none;
  }

  .menu_signup_button {
    display: flex;
  }
}
