.architectureCard {
  transition: box-shadow 0.2s transform 0.2s;
}

.architectureCard:hover {
  transform: translateY(-4px);
}

.architectureGridContainer {
  grid-template-columns: repeat(1, 1fr);

  @media screen and (min-width: $small-screen-min-width) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: $desktop-min-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}
