.layout {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $extra-small-screen-x-padding;
  padding-right: $extra-small-screen-x-padding;
}

.paddingTop {
  padding-top: 0.75rem;
}

@media screen and (min-width: $small-screen-min-width) {
  .layout {
    padding-left: $small-screen-x-padding;
    padding-right: $small-screen-x-padding;
  }
}

@media screen and (min-width: $desktop-min-width) {
  .layout {
    padding-left: $desktop-layout-x-padding;
    padding-right: $desktop-layout-x-padding;
  }

  .paddingTop {
    padding-top: 2.25rem;
  }
}
