.featureSectionContainer {
  flex-direction: column;

  .textColumn {
    width: 100%;
  }

  .imageColumn {
    width: 100%;
  }
}

.reverse {
  flex-direction: column-reverse;
}

@media screen and (min-width: $desktop-min-width) {
  .featureSectionContainer {
    flex-direction: row;

    .textColumn {
      width: 50%;
      padding-right: 76px;
    }

    .imageColumn {
      width: 50%;
    }
  }

  .reverse {
    flex-direction: row-reverse;
  }
}
