.heroSectionContainer {
  flex-direction: column;

  .textColumn {
    width: 100%;
    align-items: center;
  }

  .imageColumn {
    width: 100%;
  }
}

@media screen and (min-width: $desktop-min-width) {
  .heroSectionContainer {
    flex-direction: row;

    .textColumn {
      width: 50%;
      align-items: flex-start;
    }

    .imageColumn {
      width: 50%;
    }
  }
}
