.heroSectionContainer {
  flex-direction: column;
  margin-bottom: 2.25rem; // $space-100
  row-gap: 2.25rem; // $space-100

  .textColumn {
    width: 100%;
    align-items: center;

    .heroParagraph {
      text-align: center;
    }

    .objectionBustingCopy {
      justify-content: center;
    }
  }

  .imageColumn {
    width: 100%;
  }
}

@media screen and (min-width: $desktop-min-width) {
  .heroSectionContainer {
    flex-direction: row;
    margin-bottom: 4.5rem; // $space-190
    row-gap: 4.5rem; // $space-190

    .textColumn {
      width: 50%;
      align-items: flex-start;

      .heroParagraph {
        text-align: left;
      }

      .objectionBustingCopy {
        justify-content: flex-start;
      }
    }

    .imageColumn {
      width: 50%;
    }
  }
}
