.contentSeparatedRow {
  display: none;
}

.contentSeparatedColumn {
  display: flex;
}

@media screen and (min-width: $desktop-min-width) {
  .contentSeparatedRow {
    display: flex;
  }

  .contentSeparatedColumn {
    display: none;
  }
}
